[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/gruxbox"]
	path = bundle/gruxbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/yggdroot/indentline
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/vim-jsx-typescript"]
	path = bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim
